/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bee-addons-blocks-scroll-down {
	text-align: center;
	color: #B5B5B5;
	font-size: 1rem;

	img.bee-arrow{
		width: 28px;
		height: 14px;
		margin: 0.8rem auto 0 auto;
	}
}

