/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bee-addons-blocks-media-blurred-background {
	position: relative;
	display: block;

	.block-editor-media-placeholder + .innerText .block-editor-block-list__layout{
		color: black !important;
	}

	&.is-selected .wp-block-heading{
		margin: 0;
	}

	img{
		display: block;
		height: 100%;

		+ .innerText{
			position: absolute;
			left: 0;
			right: 0;
			bottom: -1px;

			*:only-child{
				margin: 0;
			}

			.wp-block-paragraph{
				margin: .5rem 0
			}

			& :last-child{
				margin-bottom: 0;
			}
		}
	}

	.innerText .wp-block-columns{
		margin-bottom: 0;
	}

	&.are-vertically-aligned{
		&-top .innerText{
			top: 0;
			bottom: auto;
		}
		&-center .innerText{
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}
	}
}

